<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>系统登录</title>
    <!-- Vue2 -->
    <script th:src="@{/element/vue.js}"></script>
    <!-- ElementUI CSS+JS -->
    <link rel="stylesheet" th:href="@{/element/index.css}">
    <script th:src="@{/element/index.js}"></script>
    <!-- jQuery 3.7 -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <!-- RSA加密工具: 用于密码加密 -->
    <script th:src="@{/js/encrypt/jsencrypt.min.js}"></script>
    <!-- Common JS，需要先引入jsencrypt -->
    <script th:src="@{/js/common.js}"></script>
    <style>
        .login-wrap {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .login-card {
            width: 420px;
            padding: 30px 20px;
        }
        .login-title {
            font-size: 26px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 32px;
        }
        .login-btn {
            width: 100%;
            height:44px;
            font-size:16px;
        }
        .sso-box {
            text-align: center;
            margin-top:8px;
        }
    </style>
</head>
<body>
<div id="app" class="login-wrap">
    <el-card class="login-card" shadow="hover">
        <div class="login-title">账号登录</div>
        <el-form ref="loginForm" :model="loginForm" :rules="loginRules"  th:action="@{/doLogin}" method="post" label-width="70px">
            <!-- 【关键】隐藏域：传给SpringSecurity的password -->
            <input type="hidden" name="password" v-model="loginForm.password">

            <el-form-item label="登录名" prop="username">
                <el-input v-model="loginForm.username" name="username" placeholder="请输入登录名" prefix-icon="el-icon-user"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
                <el-input v-model="loginForm.originPassword" type="password" placeholder="请输入密码" prefix-icon="el-icon-lock"></el-input>
            </el-form-item>
            <el-form-item>
                <!-- 绑定点击事件 -->
                <el-button class="login-btn" type="primary" :loading="loading" @click="handleLogin">本地登录</el-button>
            </el-form-item>
        </el-form>


        <el-divider content-position="center" th:if="${ssoEnable}">第三方登录</el-divider>
        <div class="sso-box" th:if="${ssoEnable}">
            <a th:href="@{/oauth2/authorization/{id}(id=${registrationId})}">
                <el-button type="warning" icon="el-icon-lock" circle title="SSO登录"></el-button>
            </a>
        </div>
    </el-card>
</div>

<script>
    var vm = new Vue({
        el:'#app',
        data(){
            return {
                loading: false,
                loginForm: {
                    username:'',
                    originPassword: "",        // 用户输入原始密码
                    password:''            // RSA加密后的密码
                },
                loginRules: {
                    username:[{required:true, message:'请输入登录名', trigger:'blur'}],
                    originPassword:[{required:true, message:'请输入密码', trigger:'blur'}]
                }
            }
        },
        created(){
            const _this = this;
            const isError = this.getUrlParam("error");
            const isLogout = this.getUrlParam("logout");
            if(isError){
                _this.$message.error("用户名或密码错误！");
                return;
            }
            if(isLogout){
                _this.$message.success("已成功退出登录！");
            }

            lo
        },
        methods:{
            // 获取路径参数
            getUrlParam(name) {
                const urlParams = new URLSearchParams(window.location.search);
                return urlParams.has(name);
            },
            // 密码加密
            encryptPassword(){
                const _this = this;
                if(!rsaPubKey){
                    _this.$message.warning("加密公钥尚未加载完成");
                    return false;
                }
                let encryptedPwd = encryptRsa(this.loginForm.originPassword);
                if(!encryptedPwd){
                    _this.$message.error("密码加密失败");
                    return false;
                }
                this.loginForm.password = encryptedPwd;
                return true;
            },
            // 登录按钮点击事件
            handleLogin(){
                this.$refs.loginForm.validate((valid) => {
                    if (!valid) return;
                    if(this.loading) return;
                    this.loading = true;

                    // // 执行加密
                    const encryptOk = this.encryptPassword();
                    console.log(encryptOk)
                    this.loading = false;
                    if(!encryptOk){
                        return;
                    }

                    // 强制等待DOM响应式刷新（Vue异步更新DOM）
                    this.$nextTick(()=>{
                        this.$refs.loginForm.$el.submit();
                    })
                })
            }
        }
    })
</script>
</body>
</html>